* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background: linear-gradient(90deg, #3b38a0, 80%, #1a2a80);
    height: 6vh;
    border-radius: 8px;
    margin: 16px;
    padding: 0 16px;
}

search {
    height: 100%;

    form {
        height: inherit;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;
    }

    button {
        background: transparent;
        width: 10%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        border: none;
    }

    input {
        background: transparent;
        width: 90%;
        height: 100%;
        border: none;
        outline: none;
        color: white;
        font-size: 2rem;
    }
}

ul {
    padding-left: 24px;
}

.words-list {
    padding: 24px;
    list-style: decimal inside;
    font-size: 2rem;
    font-weight: bold;

    display: flex;
    flex-flow: column;
    gap: 16px;

    div {
        display: inline-flex;
        gap: 16px;
        font-size: inherit;
        
        h2 {
            font-size: inherit;
            font-weight: inherit;
        }

        button {
            font-size: inherit;
            background: transparent;
            border: none;
        }
        button i {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.meanings-list {
    list-style-type: none;
    font-size: 0.6em;
    font-weight: initial;

    opacity: 1;
    max-height: 5000px;

    display: flex;
    flex-flow: column;
    gap: 16px;

    transition: max-height .3s ease-in-out,
                opacity .15s ease-in-out;

    h3 {
        font-weight: bold;
    }
}

.meanings-list:not(.active) {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

.definitions-list {
    list-style: disc outside;
    display: flex;
    flex-flow: column;
    gap: 8px;

    .example {
        font-style: italic;
    }
    .example::before {
        content: "e.g. ";
        font-size: 0.7em;
        color: #3b38a0;
        font-weight: bold;
    }
}
