* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #090040;

    div {
        height: 100%;
        display: flex;
        gap: 8px;
    }

    a,
    button {
        position: relative;
        height: 100%;
        text-decoration: none;
        background: transparent;
        color: white;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition:
            background 0.2s,
            color 0.2s;
        border: none;
        font-size: 1rem;
    }

    a::after,
    button::after {
        content: "";
        position: absolute;
        left: 20%;
        bottom: 5%;
        width: 60%;
        height: 3px;
        border-radius: 15px;
        opacity: 0;
        background: white;
        transition: opacity 0.5s;
    }

    a.active::after {
        opacity: 1;
    }
}

.content-window {
    margin-top: 6vh;
    width: 100%;
    min-height: 94dvh;
}

#root div.dark {
    header {
        background: #5c1a1a;
    }

    .content-window {
        background: #181c22;
    }

    .home-wrapper {
        color: white;

        i {
            color: rgba(255, 255, 255, 0.14);
        }
    }

    .search-wrapper * {
        color: white;
    }

    .history ul {
        scrollbar-color: white transparent;
    }

    .dict-entry {
        .words-list,
        button i {
            color: white;
        }

        .example::before {
            color: #ff5252;
        }
    }

    .favorite-btn {
        background: #5c1a1a;
    }

    .favorites-list {
        li,
        a {
            color: white;
        }

        > li:not(:last-child) {
            border-bottom-color: #5c1a1a;
        }

        li button {
            color: #5c1a1a;
        }
    }

    .entry-not-found,
    .error-countdown {
        color: white;
    }
}

button {
    cursor: pointer;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.home-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    i {
        color: rgba(0, 0, 0, 0.22);
        font-size: 6rem;
        margin-left: -30%;
        animation: slide-down 1s;
    }

    > div > div {
        margin-top: -20%;
        animation: fade-in 2s ease-in;
    }
}

.search-wrapper {
    height: 94dvh;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

search {
    height: 5%;

    form {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 8px;
    }

    button {
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        background: transparent;
        border: none;
        outline: none;
        opacity: 0;
        transition: opacity 0.4s;
    }
    button.active {
        opacity: 1;
    }

    input {
        width: 100%;
        background: transparent;
        outline: none;
        border: none;
        color: black;
    }
}

.history {
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
        font-size: 1.4rem;
    }

    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: column;
        align-items: start;
        justify-content: start;
        gap: 12px;

        overflow-y: auto;
        scrollbar-color: #090040 transparent;

        a {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
        }
    }
}

.entry-not-found {
    padding: 5vw;
    h2 {
        margin-bottom: 1vh;
    }
}

.error-countdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50vw;
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
}

ul {
    padding-left: 24px;
}

article.dict-entry {
    padding-bottom: 64px;
}

.words-list {
    padding: 24px;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bold;

    display: flex;
    flex-flow: column;
    gap: 16px;

    div {
        display: inline-flex;
        gap: 16px;
        font-size: inherit;

        h2 {
            font-size: inherit;
            font-weight: inherit;
        }

        button {
            font-size: inherit;
            background: transparent;
            border: none;
        }
        button i {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .play-btn {
            transition: color 0.3s;
        }

        .play-btn.disabled {
            color: rgba(0, 0, 0, 0.356);
        }
    }
}

.meanings-list {
    list-style-type: none;
    font-size: 0.7em;
    font-weight: initial;

    display: flex;
    flex-direction: column;
    gap: 16px;

    h3 {
        font-weight: bold;
    }
}

.definitions-list {
    list-style: disc outside;
    display: flex;
    flex-flow: column;
    gap: 8px;

    .example {
        font-style: italic;
    }
    .example::before {
        content: "e.g. ";
        font-size: 0.7em;
        color: #3b38a0;
        font-weight: bold;
    }
}

.favorite-btn {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 2rem;
    background: #090040;
    color: white;
}

.favorites-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    padding: 16px 24px;
}

.favorites-list > li {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 5px;
    padding-bottom: 24px;

    a {
        text-decoration: none;
        color: initial;
        align-content: center;
        font-size: 2rem;
        font-weight: 600;
    }

    button {
        background: transparent;
        border: none;
        outline: none;
        font-size: inherit;
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 1.4rem;
        color: #090040;
    }

    .fav-sneak-peek {
        grid-column: 1 / 3;
        list-style-type: decimal;
        font-size: 1.2rem;
    }
}

.favorites-list > li:not(:last-child) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #090040;
}
