* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    width: 100vw;
    height: 6vh;
    padding: 2vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

.main-header {
    background: #7a85c1;
    border-radius: 0 0 16px 16px;
    gap: 8px;

    a {
        height: 100%;
        aspect-ratio: 1 / 1;
        text-decoration: none;
        background: white;
        padding: 4px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

        i {
            font-weight: bold;
        }
    }
}

.search-header {
    background: transparent;
}

search {
    width: 100%;
    height: 100%;

    form {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
    }

    button {
        height: 100%;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        outline: none;
    }

    input {
        width: 100%;
        border: none;
        background: transparent;
        outline: none;
    }
}

.entry-not-found {
    padding: 2vw;
}

.error-countdown {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50vw;
    color: rgba(0, 0, 0, 0.363);
}

ul {
    padding-left: 24px;
}

.words-list {
    padding: 24px;
    list-style-type: none;
    font-size: 1.7rem;
    font-weight: bold;

    display: flex;
    flex-flow: column;
    gap: 16px;

    div {
        display: inline-flex;
        gap: 16px;
        font-size: inherit;

        h2 {
            font-size: inherit;
            font-weight: inherit;
        }

        button {
            font-size: inherit;
            background: transparent;
            border: none;
        }
        button i {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.meanings-list {
    list-style-type: none;
    font-size: 0.6em;
    font-weight: initial;

    opacity: 1;
    max-height: 5000px;

    display: flex;
    flex-flow: column;
    gap: 16px;

    transition:
        max-height 0.3s ease-in-out,
        opacity 0.15s ease-in-out;

    h3 {
        font-weight: bold;
    }
}

.meanings-list:not(.active) {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

.definitions-list {
    list-style: disc outside;
    display: flex;
    flex-flow: column;
    gap: 8px;

    .example {
        font-style: italic;
    }
    .example::before {
        content: "e.g. ";
        font-size: 0.7em;
        color: #3b38a0;
        font-weight: bold;
    }
}

.history {
    h2 {
        margin-bottom: 16px;
        font-size: 1.4rem;
    }

    h2,
    li {
        padding-left: 24px;
    }

    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        justify-content: start;
        gap: 12px;

        a {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
        }
    }
}
