* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #090040;

    div {
        height: 100%;
        display: flex;
        gap: 8px;
    }

    a {
        position: relative;
        height: 100%;
        text-decoration: none;
        background: transparent;
        color: white;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition:
            background 0.2s,
            color 0.2s;
    }

    a::after {
        content: "";
        position: absolute;
        left: 20%;
        bottom: 5%;
        width: 60%;
        height: 3px;
        border-radius: 15px;
        background: transparent;
        transition: background 0.5s;
    }

    a.active::after {
        background: white;
    }
}

.content-window {
    margin-top: 6vh;
    width: 100vw;
    height: 94dvh;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.home-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    i {
        color: rgba(0, 0, 0, 0.25);
        font-size: 6rem;
        margin-left: -30%;
        animation: slide-down 1s;
    }

    > div > div {
        margin-top: -20%;
        animation: fade-in 2s ease-in;
    }
}

.search-wrapper {
    height: 100%;
}

search {
    width: 100%;
    padding: 5vw 5vw 2vw 5vw;

    form {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 8px;
    }

    button {
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        background: transparent;
        border: none;
        outline: none;
        opacity: 0;
        transition: opacity 0.4s;
    }
    button.active {
        opacity: 1;
    }

    input {
        width: 100%;
        border: none;
        background: transparent;
        outline: none;
    }
}

.history {
    padding: 3vw 5vw 5vw 5vw;

    h2 {
        margin-bottom: 16px;
        font-size: 1.4rem;
    }

    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        justify-content: start;
        gap: 12px;

        a {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
        }
    }
}

.entry-not-found {
    padding: 5vw;
    h2 {
        margin-bottom: 1vh;
    }
}

.error-countdown {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50vw;
    color: rgba(0, 0, 0, 0.363);
}

ul {
    padding-left: 24px;
}

.words-list {
    padding: 24px;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bold;

    display: flex;
    flex-flow: column;
    gap: 16px;

    div {
        display: inline-flex;
        gap: 16px;
        font-size: inherit;

        h2 {
            font-size: inherit;
            font-weight: inherit;
        }

        button {
            font-size: inherit;
            background: transparent;
            border: none;
        }
        button i {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .play-btn {
            transition: color 0.3s;
        }

        .play-btn.disabled {
            color: rgba(0, 0, 0, 0.356);
        }
    }
}

.meanings-list {
    list-style-type: none;
    font-size: 0.7em;
    font-weight: initial;

    max-height: 5000px;

    display: flex;
    flex-flow: column;
    gap: 16px;

    h3 {
        font-weight: bold;
    }
}

.definitions-list {
    list-style: disc outside;
    display: flex;
    flex-flow: column;
    gap: 8px;

    .example {
        font-style: italic;
    }
    .example::before {
        content: "e.g. ";
        font-size: 0.7em;
        color: #3b38a0;
        font-weight: bold;
    }
}

.favorite-btn {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 2rem;
    background: #090040;
    color: white;
}

.favorites-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 1vw 2vw;
}

.favorites-list > li {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 5px;
    padding: 4vw 2vw;

    a {
        text-decoration: none;
        color: initial;
        align-content: center;
        font-size: 2rem;
        font-weight: 600;
    }

    button {
        background: transparent;
        border: none;
        outline: none;
        font-size: inherit;
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 1.4rem;
        color: #090040;
    }

    .fav-sneak-peek {
        grid-column: 1 / 3;
        list-style-type: decimal;
        font-size: 1.2rem;
    }
}

.favorites-list > li:not(:last-child) {
    border-bottom: 1px solid #090040;
}
